@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:ital,wght@0,700;1,300&display=swap');
@font-face {
    font-family: "ApfelGrotezk-Fett";
    src: url("webfont/ApfelGrotezk-Fett.woff2") format("woff2"),
         url("webfont/ApfelGrotezk-Fett.woff") format("woff");
}
/*-^Import^-*/


/*--Reset--*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}
ol, ul, menu {
    list-style: none;
}
img {
    max-width: 100%;
    line-height: 0;
}
textarea {
    white-space: revert;
}
::placeholder {
    color: unset;
}
body{
    margin: 0;
    padding: 0;
}

/*--Stylisation--*/
html {
    font-size: 62,5%; /* = font-size: 10px */
}
body {
    background-color: #323232;
}
#profil {
    color: #fe6d73;
    stroke: #fe6d73;
}
#experiences {
    color: #0fd49a;
    stroke: #0fd49a;
}
#formation {
    color: #f1cb85;
    stroke: #f1cb85;
}
#outils {
    color: #0fc3d4;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
#experiences h2{
    font-size: 1.54rem;
}
#formation h2 {
    font-size: 1.4rem;
}
.date {
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    font-variant-caps: small-caps;
    font-size: 1.2rem;

    margin-bottom: 1rem;
}
.sujet {
    font-family: "ApfelGrotezk-Fett", 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;

    margin-bottom: 1rem;
}
.details {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    padding-bottom: .2rem;
}
div > .details:nth-child(4) {
    padding-left: 1rem;
}


h2 {
    transform: translateX(-50%);
}
.title {
    transform: translateX(-40%);
}
a:hover {
    cursor: pointer;
}
.title {
    position: relative;
    width: 10rem;
    height: 10rem;
}
.fleche {
    fill: none;
    stroke-width: 8;
    stroke-miterlimit: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(55%);
    z-index: -1;
}
section {
    margin-top: 4rem;
}
article {
    display: flex;
    width: 60%;
    margin: auto;
}
article .featured{
    flex-grow: 1;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
aside {
    border-bottom: 2px solid;
    margin-top: 2rem;
}
aside > div {
    display: flex;
    width: 60%;
    margin: auto;
}
aside > div > div {
    flex: 1;
    padding: 0 1rem 1rem 1rem;
    border-right: 2px solid;
}
aside > div > div:last-child {
    border-right: none;
    padding-right: 0;
}


/*--Breakpoints--*/

/* @media screen and (max-width: 1265px) {
    article, aside > div {
        width: 80%;
    }
}
@media screen and (max-width: 950px) {
    article, aside > div {
        width: 100%;
    }
} */
    /*--Mobile--*/ 
/* @media screen and (max-width: 375px) {
    body {
        background-color: #0fd49a;
    }
} */


/*--Cas particuliers--*/
#profil {
    padding-bottom: 1rem;
}
#profil aside, #profil div {
    border: none;
    padding: 0;
    margin: 0;
}
#profil aside > div {
    width: 100%;
    justify-content: center;
    align-items: center;
}
#profil aside > div > div, #profil img {
    height: 15rem;
}
#profil aside > div > div {
    position: relative;
    height: fit-content;
}
div#coordonnees {
    margin-left: 1rem;
}
#profil img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    border: 4px solid;
    border-radius: .5rem;
}

/*
#profil aside > div {
    
    height: 30rem; 
}
#profil img {
    /* width: 70%; *//*
    margin-left: 25%;
    border: 4px solid;
    border-radius: .5rem;
}
#profil aside > div > div {
    border: none;
    position: relative;
    padding: 0;
}
#profil aside > div > div > div {
    position: absolute;
    bottom: 0;
    padding: 1rem;
} */


#experiences .fleche {
    transform: translate(-50%, -50%) scale(55%) rotate(90deg);
}


.featured .date {
    margin: 0 0.2rem 0 0;
}
.featured .sujet {
    margin: 0 0.2rem 0 0;
}
.featured .details {
    padding: 0.1rem 0 0 0;
}


#outils aside div, #outils aside {
    border: none;
}
#outils h2 {
    width: max-content;
    align-self: flex-start;
    border: 4px solid;
    padding: .1rem .4rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
#outils aside > div {
    align-items: flex-end;
}
#outils .details{
    padding-left: .7rem;
}
#outils {
    margin-bottom: 4rem;
}


/*--Animations--*/
@keyframes rotationTitre {
    from { transform: rotate(1turn); }
    to   { transform: rotate(0turn); }
}
.circulaire{
    animation: 17s linear rotationTitre infinite;
}
.circulaire:hover {
    animation-play-state: paused;
}